.correct {
    border: solid green 2px;
}

.incorrect {
    border: solid red 2px;
}

.highlight {
    border: solid rgb(195, 195, 90) 2px;
}

.correct-text {
    color: green;
}

.incorrect-text {
    color: red;
}

.card-in-hand{
    padding: 0;
    height: 100px;
    cursor: pointer;
    object-fit: contain;
}

.played-cards {
    height: 106px;
}

.main-title{
    font-size: 30px;
    text-align: center;
}

.main-card-image{
    object-fit: fill;
    width: 100%;
}
.bold{
    font-weight: bold;
}
.rule_div{
    padding: 20px;
    font-size: larger;
}
#sidebar-col{
    border-right: black solid 1px;
}
#step-row {
    margin-bottom: 5px;
}