.correct {
    color: green;
}

.incorrect {
    color: red;
}

.highlight {
    color: rgb(195, 195, 90);
}   

.card-in-hand{
    border: solid black 1px;
    height: 100px;
    width: 5px;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
}

.main-title{
    font-size: 30px;
    text-align: center;
}

.main-card-image{
    object-fit: fill;
    width: 100%;
}
.bold{
    font-weight: bold;
}
.rule_div{
    padding: 20px;
    font-size: larger;
}
#sidebar{
    border-right: black solid 1px;
}