{% extends "layout.html" %}

{% block content %}
<br>
<div class="col-12 main-title">Test your Hearts Knowledge</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
        <a href="/test/0" style="text-decoration-color:white;">
            <figure>
                <img class="main-card-image"
                src="https://uid-playing-cards.s3.amazonaws.com/jh.png">
                <figcaption style="text-align:center;color: white">EASY MODE</figcaption>
            </figure>
        </a>
    </div>
    <div class="col-2">
        <a href="/test/1" style="text-decoration-color:white;">
            <figure>
                <img class="main-card-image"
                src="https://uid-playing-cards.s3.amazonaws.com/kc.png">
                <figcaption style="text-align:center;color:white">HARD MODE (full simulated round) </figcaption>
            </figure>
            
        </a>
    </div>
    <div class="col-4"></div>
</div>


{% endblock %}