{% extends "layout.html" %}

{% block content %}
<br>
<div class="col-12 main-title">Test your Hearts Knowledge</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
        <a href="/test/0">
            <figure>
                <img class="main-card-image"
                src="https://upload.wikimedia.org/wikipedia/commons/8/87/AH.svg">
                <figcaption style="text-align:center">EASY MODE</figcaption>
            </figure>
        </a>
    </div>
    <div class="col-2">
        <a href="/test/1">
            <figure>
                <img class="main-card-image"
                src="https://upload.wikimedia.org/wikipedia/commons/6/69/2C.svg"">
                <figcaption style="text-align:center">HARD MODE (full simulated round) </figcaption>
            </figure>
            
        </a>
    </div>
    <div class="col-4"></div>
</div>


{% endblock %}