{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
    const _init = {{init|tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'play.js') }}"></script>

<div class="row" style="color:white">

    <div class="col-4" id="sidebar-col">
        <div class="row" id="step-row">
            <b>{{init.step_name}}  &nbsp</b>
            <div id="result"></div>
            <b>/{{init.step_count}}</b>
        </div>

        <div id="sidebar">
            <!-- Explanatory text, buttons, questions go here -->
        </div>
        <div id="continue"></div>
    </div>

    <div class="col-8" id="game-content" style="background-image: radial-gradient(#ff0000, #800000); padding-top: 1cm; padding-bottom: 1cm; border: solid black 2px;">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" style="text-align:center;">
                <div id="player_name_2"><b>Player 2</b></div>
                <div><b>Points:</b></div>
                <div id="points_2"></div>
                <div id="played_cards_2" style="padding-top:10px;" class="played-cards"></div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-3" style="text-align:center;">
                <br>
                <div id="player_name_1"><b>Player 1</b></div>
                <div><b>Points:</b></div>
                <span id="points_1"></span>
            </div>
            <div class="col-2">
                <span id="played_cards_1" class="played-cards"></span>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <div id="played_cards_3" class="played-cards"></div>
            </div>
            <div class="col-3" style="text-align:center;">
                <br>
                <div id="player_name_3"><b>Player 3</b></div>
                <div><b>Points:</b></div>
                <div id="points_3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align:center;">
                <div id="played_cards_0" style="padding-top:10px;" class="played-cards"></div>
                <br>
            </div>
        </div>
        <div class="row">
                <div class="col-12">
                    <div style="text-align: center;"><b>Your Hand</b></div>
                    <div id = "your_hand"></div>
                    <div style="text-align: center;" id="player_name_0"><b>Points:</b></div>
                    <span style="text-align:center;" id="points_0"></span>
                </div>
        </div>
    </div>

</div>
{% endblock %}
