{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
    const _init = {{init|tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'play.js') }}"></script>

<div class="row">

    <div class="col-4">
        <div id="sidebar">
            <!-- Explanatory text, buttons, questions go here -->
        </div>
        <div id="continue"></div>
    </div>

    <div class="col-8" id="game-content">
        <div class="row">
            <div class="col-4" style="text-align:center;">
                <div id="played_cards_1"></div>
                <br>
                <div style="padding-top:3cm;"><b>Player 1</b></div>
                <div><b>Points:</b></div>
                <div id="points_1"></div>
            </div>
            <div class="col-4" style="text-align:center;">
                <div id="played_cards_2"></div>
                <br>
                <div><b>Player 2</b></div>
                <div><b>Points:</b></div>
                <div id="points_2"></div>
            </div>
            <div class="col-4" style="text-align:center;">
                <div id="played_cards_3"></div>
                <br>
                <div style="padding-top:3cm;"><b>Player 3</b></div>
                <div><b>Points:</b></div>
                <div id="points_3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align:center;">
                <div id="played_cards_0"></div>
                <br>
            </div>
        </div>
        <div class="row">
                <div class="col-12">
                    <div id = "your_hand" style="padding-top: 5cm;"></div>
                    <div style="text-align: center;"><b>Your Hand</b></div>
                    <div style="text-align: center;"><b>Points:</b></div>
                    <span id="points_0"></span>
                </div>
        </div>
    </div>

</div>
{% endblock %}
