{% extends "layout.html" %}

{% block content %}

<br>
<div class="col-12 main-title">Ready to learn about Hearts?</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
        <a href="/learn">
            <figure>
                <img class="main-card-image"
                src="https://upload.wikimedia.org/wikipedia/commons/8/87/AH.svg">
                <figcaption style="text-align:center; color:white;">Learn the basics</figcaption>
            </figure>
        </a>
    </div>
    <div class="col-2">
        <a href="/choose_test">
            <figure>
                <img class="main-card-image"
                src="https://upload.wikimedia.org/wikipedia/commons/6/69/2C.svg">
                <figcaption style="text-align:center; color:white;">Test your knowledge</figcaption>
            </figure>
        </a>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}