{% extends "layout.html" %}

{% block content %}

<div class = "rule_div">1. The first trick always starts with the <span class = "bold">two of clubs (♣)</span></div>
<div class = "rule_div">2. Players must <span class = "bold">follow suit</span>, unless they are void and can play any card</div>
<div class = "rule_div">3. Each heart a player takes is worth <span class = "bold">1 point</span> and the Queen of Spades (♠) is worth  <span class = "bold">13 points.</span> The goal is to minimize points!</div>
<div class = "rule_div">4. The first round is <span class = "bold">safe.</span> That means no player can play a heart or the queen of spades, even if they are void in clubs</div>
<div class = "rule_div">5. Hearts <span class = "bold">cannot</span>  be led until hearts have been <span class = "bold">"broken,"</span>  meaning someone has played a heart on another trick. Playing the queen of spades does <span class = "bold">not</span>  count as breaking hearts</div>
<div class = "rule_div">6. If you <span class = "bold">shoot the moon</span> and get all 13 hearts and the Queen of Spades, you get no points and all other players gain 26 points</div>

{% endblock %}
